<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <!-- fuente de iconos, de donde sacar -->
    <script src="https://kit.fontawesome.com/102ba3bcbd.js" crossorigin="anonymous"></script>
    <!-- Hojas de estilos utiles -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <!-- Medias Queries -->
    <link rel="stylesheet" href="/css/styles-sm.css" media="(min-width:480px)" />
    <link rel="stylesheet" href="/css/styles-md.css" media="(min-width:880px)" />
    <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width:1280px)" />
    <title>420buzos</title>
</head>
<body>
    <header class="background-black">
        <!-- Nav mobile -->
        <div>
        <nav id="nav-bar-mobile">
            <ul class="barra-search">
                <li class="item-bar"><a href=""><i class="fa-solid fa-bars"></i></a></li>
                <li class="item-search"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="item-user"><a href=""><i class="fa-solid fa-user"></i></a></li>
                <li class="item-carrito"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="logo-mobile">
            <a href=""><img src="/images/WhatsApp Image 2022-08-04 at 3.28.06 PM.jpeg" alt="" width="100%"></a>
        </div>
        <!-- NAV 1 -->
        <nav class="nav-top">
            <div>
               <h4>Language</h4>
            </div>
        <ul class="nav-top-list">
            <li><a href=""> My Account</a></li>
            <li><a href=""> Wish List</a></li>
            <li><a href=""> Shopping Cart</a></li>
            <li><a href=""> Checkout</a></li>
        </ul>
        </nav>
        <!-- Buscadores -->
        <div class="main-header-medium">
            <div class="container-header-medium-1">
            <img src="/images/WhatsApp Image 2022-08-04 at 3.28.06 PM.jpeg" alt="">
            </div>
            <div class="container-header-medium-2">
            <div class="medium-2-search">
              <input type="text" placeholder="Search" class="container-header-medium-2-search">
                <button class="button-transform">  
                <i class="fa-solid fa-magnifying-glass black"></i>
                </button>
            </div> 
           <div class="medium-2-iconos">
            <div>
               <a href=""><i class="fa-solid fa-heart icon-medium"></a></i>
            </div>
            <div >
               <a href=""><i class="fa-solid fa-user icon-medium"></a></i>
            </div>
            <div>
               <a href=""><i class="fa-solid fa-cart-shopping icon-medium"></a></i>
            </div>
            </div>
            </div>
        
        </div>
        <!-- NAV 2 -->
        <nav class="nav-buttom">
         <ul class="nav-buttom-list">
            <li><a href=""><i class="fa-solid fa-house-chimney"></i></a></li>
            <li><a href="">NEW</a></li>
            <li><a href="">CLOTHING</a></li>
            <li><a href="">SHOES</a></li>
            <li><a href="">ACCESSORIES</a></li>
            <li><a href="">SKATE</a></li>
            <li><a href="">SCOOTER</a></li>
            <li><a href="">SNOW</a></li>
            <li><a href="">SALE</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="">BRANDS</a></li>
         </ul>
        </nav>
    </header>
    <img src="/images/WhatsApp Image 2022-08-04 at 3.26.36 PM.jpeg" alt="" width="100%">
    <!-- Main ----- Productos  -->
<main> 
        <h2 class="title-h2">Latest Products</h2>
 <section>
     <div class="flex-article">
             <div class="product-wraper">
                <article>
                    <img src="/images/remera.jpeg" alt="" class="w-100">
                    <div class="product-contenet">
                        <p class="text-description">HUF X TRASHER PORTOLA T-SHIERT-BLACK</p>
                        <p class="text-price">135$</p>
                        <div class="product-medidas-indumentaria">
                            <p class="text-talle">SMALL</p>
                            <p class="text-talle">MEDIUM</p>
                            <p class="text-talle">LARGE</p>
                            <p class="text-talle">X-LARGE</p>
                        </div>
                    </div>
                 </article>
             </div>

            <div class="product-wraper">
                <article>
                    <img src="/images/remera.jpeg" alt="" class="w-100">
                    <div class="product-contenet">
                        <p class="text-description">HUF X TRASHER PORTOLA T-SHIERT-BLACK</p>
                        <p class="text-price">135$</p>
                        <div class="product-medidas-indumentaria">
                            <p class="text-talle">SMALL</p>
                            <p class="text-talle">MEDIUM</p>
                            <p class="text-talle">LARGE</p>
                            <p class="text-talle">X-LARGE</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="product-wraper">
                <article>
                    <img src="/images/remera.jpeg" alt="" class="w-100">
                    <div class="product-contenet">
                        <p class="text-description">HUF X TRASHER PORTOLA T-SHIERT-BLACK</p>
                        <p class="text-price">135$</p>
                        <div class="product-medidas-indumentaria">
                            <p class="text-talle">SMALL</p>
                            <p class="text-talle">MEDIUM</p>
                            <p class="text-talle">LARGE</p>
                            <p class="text-talle">X-LARGE</p>
                        </div>
                    </div>
                </article>
            </div>
     </div>
  </section>
  <!-- Seccion 2 -->
  <img src="/images/banner-2.jpeg" alt="" class="w-100 margin-top-bottom">
  <section>
     <div class="flex-article">
        <div class="product-wraper">
            <article>
                <img src="/images/Zapas.jpeg" alt="" class="w-100">
                <div class="product-content">
                    <p class="text-description">NEW BALANCE ALLISTON 617 SKATE SHOES - OLIVE N-DURE</p>
                    <p class="text-price">29.99$</p>
                </div>
                <div class="product-medidas">
                    
                </div>
            </article>
        </div>
     </div>
  </section>
</main>
</body>
</html>
