<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>420buzos</title>
</head>
<body>
    <header>
        <ul>
            <li>language</li>
            <li>My Account</li>
            <li>Wish List</li>
            <li>Shopping Cart</li>
            <li>Checkout</li>
        </ul>
         <nav>
            <p>Barra de busqueda</p>
            <p>logitos</p>
         </nav>
         <ul>
            <li>Casa</li>
            <li>NEW</li>
            <li>CLOTHING</li>
            <li>SHOES</li>
            <li>ACCESSORIES</li>
            <li>SKATE</li>
            <li>SCOOTER</li>
            <li>SNOW</li>
            <li>SALE</li>
            <li>BLOG</li>
            <li>BRANDS</li>
         </ul>

    </header>
    <main>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </main>
    <footer>

    </footer>
</body>
</html>