/* Nav-top */
.nav-top ul{
    list-style-type: none;
    padding-left: 0;
}
.nav-top a{
    text-decoration: none;
    color: black;
}
/*  Nav-buttom */
.nav-buttom ul {
    list-style-type: none;
    padding-left: 0;
}

.nav-buttom a {
    text-decoration: none;
    color: black;
}
/* Nav-MOBILE */
.logo-mobile{
    text-align: center;
    padding: 10px 15px;
}
#nav-bar ul{
    list-style-type: none;
    padding-left: 0;
}
#nav-bar a{
    text-decoration: none;
    color: black;
}
.barra-search{
    display: flex;
    border-bottom: solid 1px #e7e7e7;
    padding: 0px 15px;
}
.item-bar{
    width: 70%;
    padding: 10px;
}
.item-bar i{
    font-size: 15px;
    color: white;
}
.item-search{
    width: 12%;
    padding: 10px;
}
.item-search i{
    font-size: 20px;
    color: white;
}
.item-user {
    width: 12%;
    padding: 10px;
}

.item-user i {
    font-size: 15px;
    color: white;
}
.item-carrito {
    width: 12%;
    padding: 10px;
}

.item-carrito i {
    font-size: 15px;
    color: white;
}
/* Main */
.main-content{
    width: 80%;
    margin: auto;
}
.product-wraper{
    width: 50%;
}
.product-content{
    border-bottom: solid 4px transparent;
}
.product-medidas-indumentaria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.text-talle {
    border-radius: 10px;
    padding: 0px 10px;
    border: solid 1px gray;
    margin-right: 3px;
    margin-top: 7px;
    font-size: x-small;
}
.product-medidas-shoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.select-talle{
    border-radius: 30px;
    width: 50%;
}
.cart-md {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-cart-md {
    border-radius: 12px;
    padding: 5px 8px;
    border: solid 1px gray;
    margin-top: 12px;
    font-size: small;
}
.nav-envios-two{
    padding: 16px;
    margin: 4% 0% 3% 0%;
    background-color: black;
}
.nav-envios-two ul{
    list-style-type: none;
    padding-left: 0;
}
.content-nav-envios{
    display: flex;
    justify-content:space-around ;
    color: white;
}
.content-categorias-two{
    display: flex;
    justify-content:center;
    list-style-type: none;
    padding-left: 0 ;
}
.content-categorias-two li {
    font-size: 30px;
    margin-left: 18px;
}
/* DESCATIVO LOS CAMBIOS */
.nav-top {
    display: none;
}

.nav-buttom {
    display: none;
}

.main-header-medium {
    display: none;
}

/*  */
.content-bio{
  width: 47%;
}

/* fOOTER */
.content-md-footer{
    display: none;
}
.content-media-footeer{
    display: none;
}

.content-footer{
    width: 90%;
    margin: auto;
    background-color: black;
}
.content-mobile-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}