#nav-bar-mobile {
    display: none;
}
.logo-mobile{
    display: none;
}
/*  */
.nav-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #333
}
.nav-top-list{
    display: flex;
    flex-wrap: wrap;
}
.nav-top-list li{
    margin-left: 12px;
}
.nav-top-list a{
    color: white;
}
/*  */
.main-header-medium {
   display: flex;
   flex-wrap: wrap;
}
.container-header-medium-1{
    width: 30%;
}
.container-header-medium-1 img{
    width: 100%;
}
/*  */
.container-header-medium-2{
    display: flex;
    justify-content:flex-end;
    width: 70%;
}
.medium-2-search{
   padding: 10px;

}
.medium-2-search input{
    border-radius: 20px;
    padding:10px;
}
.container-header-medium-2-search{
    width: 300px;
}
.button-transform{
    transform: translateX(-40px);
    width: 0px;
    background-color: transparent;
    border: none;
}

.medium-2-iconos{
    width: 30%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.medium-2-iconos a{
    margin-right: 15px;
}
/* Nav */
.nav-buttom{
    display:block;
    background-color:#595959;
    padding: 15px 20px;
}
.nav-buttom-list{
    display: flex;
    justify-content: space-around;
}
.nav-buttom-list a{
    color: white;
}
/*  */
.content-bio{
    width: 23%;
}
.content-bio-separador{
    margin: 0% 2% 0% 2%;
}
/* Footer */
.content-mobile-footer{
    display: none;
}


.content-footer{
  width: 100%;
  margin: auto;
}
.content-media-footeer{
    background-color: #595959;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.content-media-footeer ul{
    list-style-type:none ;
}
.content-contact-media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-contact-media li{
    margin-left: 20px;
}
.content-contact-media p {
    margin-left: 25px;
}
.icono-contact-media{
  color: white;
  font-size: 30px;
}
.contact-media{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    /* height: max-content; */
    align-items: center;
}
.button-contact{
    border-radius: 20px;
    width: 200%;
    padding: 8px;
}
/*  */
.content-md-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-one-logo-redes{
 margin-right: 18px;
}
.box-one-content-one {
   margin-top: 15px;
}
.box-one-content-one ul{
    list-style-type: none;
    color: white;
}
.box-two-p{
    margin-top: 25px;
}
.box-two-p p{
    color: gray;
}
.box-three-content-redes{
    margin-top: 15px;
}
.box-three-content-redes ul{
    list-style-type: none;
    color: gray;
    display: flex;
    justify-content: space-between;
}
.box-three-content-redes ul i{
    font-size: 35px;
}

.box-content-a{
   margin-right: 60px;
}
.box-content-a h4{
    font-size: 20px;
    margin-top: 30px;
    color: white;
}
.box-content-a ul{
    list-style-type: none;
    color:gray;
    margin-top: 40px;
}
.box-content-a ul li{
    margin-top: 10px;
}

.form-newslleter{
    margin-top: 30px;
}
.form-newslleter label{
    color: white;
    font-size: 25px;
}
