* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.title-h2{
    text-align: center;
    color: gray;
    margin-top: 10px;
    font-size: 20px;
}
.title-line{
    border-bottom: solid 2px black;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-article{
    display: flex;
    flex-wrap: wrap;
    border: dotted 2px red;
}
.flex-article-biografias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: dotted 2px red;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-35{
    width: 35%;
}
.w-15{
    width: 15%;
}
.margin-top-bottom{
    margin-top: 30px;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
}
.text-description{
    text-align: center;
    color: black;
    font-family:'Times New Roman';
    font-size: 14px;
}
.text-price{
    text-align: center;
    color: #3E2723;
    font-size: 15px;
}
.text-talle{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background-black{
    background-color: black;
}
.white{
    color: white;
}
.red{
    color: red;
}
.gray{
    color: gray;
}
.icon-medium{
    color: white;
    font-size: 20px;
    margin-top: 8px;
}
.icon-position{
    width: 15%;
    margin-left: 5px;
}